<div>
    <h2>Chats!!</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="global.field.id">ID</span></th>
                <th><span data-translate="doitApp.userExt.image">Imagen</span></th>
                <th><span data-translate="doitApp.userExt.phone">Telefono</span></th>
                <th><span data-translate="doitApp.userExt.nacimiento">Nacimiento</span></th>
                <th><span data-translate="doitApp.userExt.user">User</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="userExt in vm.users track by userExt.id">
                <td><a ui-sref="user-ext-detail({id:userExt.id})">{{userExt.id}}</a></td>

                <td>{{userExt.telefono}}</td>
                <td>{{userExt.nacimiento | date:'mediumDate'}}</td>
                <td>
                    {{userExt.user.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"

                                ng-click="vm.crearChat(userExt.user.id)"

                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down">Crear chat</span>
                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
