
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRetoLabel" data-translate="doitApp.reto.home.createOrEditLabel">Create or edit a Reto</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.reto.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.reto.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="doitApp.reto.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.reto.nombre"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="doitApp.reto.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                    ng-model="vm.reto.descripcion"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="doitApp.reto.horaPublicacion" for="field_horaPublicacion">Hora Publicacion</label>
                <div class="input-group">
                    <input id="field_horaPublicacion" type="text" class="form-control" name="horaPublicacion" datetime-picker="{{dateformat}}" ng-model="vm.reto.horaPublicacion" is-open="vm.datePickerOpenStatus.horaPublicacion"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('horaPublicacion')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImagen($file, vm.reto)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="doitApp.reto.imagen" for="field_imagen">Imagen</label>
            <div>
                <img data-ng-src="{{'data:' + vm.reto.imagenContentType + ';base64,' + vm.reto.imagen}}" style="max-height: 100px;" ng-if="vm.reto.imagen" alt="reto image"/>
                <div ng-if="vm.reto.imagen" class="help-block clearfix">
                    <span class="pull-left">{{vm.reto.imagenContentType}}, {{vm.byteSize(vm.reto.imagen)}}</span>
                    <button type="button" ng-click="vm.reto.imagen=null;vm.reto.imagenContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImagen($file, vm.reto)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                    ng-model="vm.reto.imagen"
                    />
            <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                    ng-model="vm.reto.imagenContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
