<div class="row">
    <br>
    <div class="row" ng-if="vm.retos.length==0">
        <strong data-translate="doitApp.reto.no-results"></strong>
    </div>
    <div class="table-responsive" ng-if="vm.retos.length>0">
        <table>
            <tbody>
            <tr>
                <div class="col-sm-12 col-md-6" ng-repeat="reto in vm.retos track by reto.id">
                    <center>
                        <img ng-click="vm.openModal(reto)" data-ng-src="{{'data:' + reto.imagenContentType + ';base64,' + reto.imagen}}"
                         alt="reto image" style="max-height: 250px"/>
                    </center>
                    <center>
                        <a ui-sref="reto-detail({id:reto.id})">{{reto.nombre}}</a>  <br/>
                        <div ng-if="reto.descripcion == null">-</div>{{reto.descripcion}}
                    </center>
                    <center>
                        <button type="submit"
                                ui-sref="reto.edit({id:reto.id})"
                                class="btn btn-warning"
                                ng-if="vm.currentAccount.authorities[0] == 'ROLE_ADMIN' || vm.currentAccount.authorities[1] == 'ROLE_ADMIN'">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="reto.delete({id:reto.id})"
                                class="btn btn-danger"
                                ng-if="vm.currentAccount.authorities[0] == 'ROLE_ADMIN' || vm.currentAccount.authorities[1] == 'ROLE_ADMIN'">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </button>
                    </center>
                    <br/>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>
