
<div>
    <h2><span data-translate="doitApp.reto.detail.title">Reto</span> {{vm.reto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="doitApp.reto.nombre">Nombre</span></dt>
        <dd>
            <span>{{vm.reto.nombre}}</span>
        </dd>
        <dt><span data-translate="doitApp.reto.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{vm.reto.descripcion}}</span>
        </dd>
        <dt><span data-translate="doitApp.reto.horaPublicacion">Hora Publicacion</span></dt>
        <dd>
            <span>{{vm.reto.horaPublicacion | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="doitApp.reto.imagen">Imagen</span></dt>
        <dd>
            <div ng-if="vm.reto.imagen">
                <a ng-click="vm.openFile(vm.reto.imagenContentType, vm.reto.imagen)">
                    <img data-ng-src="{{'data:' + vm.reto.imagenContentType + ';base64,' + vm.reto.imagen}}" style="max-width: 100%;" alt="reto image"/>
                </a>
                {{vm.reto.imagenContentType}}, {{vm.byteSize(vm.reto.imagen)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="reto-detail.edit({id:vm.reto.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
