<div>
    <!--<small translate="doitApp.evento.world-events.subtitle">Aquí podrás ver todos los eventos que se han creado en el
        mundo
    </small>-->
    <div class="row">
        <h2 translate="doitApp.evento.world-events.title">World events</h2>
        <div class="form-group">
            <label class="control-label" data-translate="doitApp.evento.buscarDireccion"
                   for="field_direccion">Introduce una dirección para buscar eventos en la zona</label>
            <input type="text" class="form-control" name="direccion"
                   id="field_direccion" places-auto-complete
                   ng-model="vm.evento.direccion" on-place-changed="vm.placeChanged()"/>
        </div>
    </div>
    <div class="row">

        <div class="text-center">
            <ng-map id="mapa" class="map-track"
                    disable-default-u-i="true"
                    style="height: 500px; display:block"
                   >

                <marker ng-repeat="evento in vm.eventos" position="[{{evento.latitud}},{{evento.longitud}}]">
                </marker>
<!--  {{evento.latitud}}, {{evento.longitud}} -->
            </ng-map>
        </div>
    </div>
</div>
