<div>
    <h2 data-translate="doitApp.evento.home.title">Eventos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="evento.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="doitApp.evento.home.createLabel">
                        Create new Evento
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="doitApp.evento.nombre">Nombre</span></th>
                    <th><span data-translate="doitApp.evento.descripcion">Descripcion</span></th>
                    <th><span data-translate="doitApp.evento.hora">Hora</span></th>
                    <th><span data-translate="doitApp.evento.imagen">Imagen</span></th>
                    <th><span data-translate="doitApp.evento.direccion">Direccion</span></th>
                    <th><span data-translate="doitApp.evento.latitud">Latitud</span></th>
                    <th><span data-translate="doitApp.evento.longitud">Longitud</span></th>
                    <th><span data-translate="doitApp.evento.fechaEvento">Fecha Evento</span></th>
                    <th><span data-translate="doitApp.evento.reto">Reto</span></th>
                    <th><span data-translate="doitApp.evento.admin">Admin</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="evento in vm.eventos track by evento.id">
                    <td><a ui-sref="evento-detail({id:evento.id})">{{evento.id}}</a></td>
                    <td>{{evento.nombre}}</td>
                    <td>{{evento.descripcion}}</td>
                    <td>{{evento.hora | date:'medium'}}</td>
                    <td>
                        <a ng-if="evento.imagen" ng-click="vm.openFile(evento.imagenContentType, evento.imagen)">
                            <img data-ng-src="{{'data:' + evento.imagenContentType + ';base64,' + evento.imagen}}" style="max-height: 30px;" alt="evento image"/>
                        </a>
                        <span ng-if="evento.imagen">{{evento.imagenContentType}}, {{vm.byteSize(evento.imagen)}}</span>
                    </td>
                    <td>{{evento.direccion}}</td>
                    <td>{{evento.latitud}}</td>
                    <td>{{evento.longitud}}</td>
                    <td>{{evento.fechaEvento | date:'medium'}}</td>
                    <td>
                        <a ui-sref="reto-detail({id:evento.reto.id})">{{evento.reto.nombre}}</a>
                    </td>
                    <td>
                        {{evento.admin.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="evento-detail({id:evento.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="evento.edit({id:evento.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="evento.delete({id:evento.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
