
<div>
    <h2><span>Evento</span> {{vm.evento.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span>Nombre</span></dt>
        <dd>
            <span>{{vm.evento.nombre}}</span>
        </dd>
        <dt><span>Descripcion</span></dt>
        <dd>
            <span>{{vm.evento.descripcion}}</span>
        </dd>
        <dt><span>Hora</span></dt>
        <dd>
            <span>{{vm.evento.hora | date:'medium'}}</span>
        </dd>
        <dt><span>Imagen</span></dt>
        <dd>
            <div ng-if="vm.evento.imagen">
                <a ng-click="vm.openFile(vm.evento.imagenContentType, vm.evento.imagen)">
                    <img data-ng-src="{{'data:' + vm.evento.imagenContentType + ';base64,' + vm.evento.imagen}}" style="max-width: 100%;" alt="evento image"/>
                </a>
            </div>
        </dd>
        <dt><span>Url Maps</span></dt>
        <dd>
            <span>{{vm.evento.urlMaps}}</span>
        </dd>
        <dt><span>Latitud</span></dt>
        <dd>
            <span>{{vm.evento.latitud}}</span>
        </dd>
        <dt><span>Longitud</span></dt>
        <dd>
            <span>{{vm.evento.longitud}}</span>
        </dd>
        <dt><span>Fecha Evento</span></dt>
        <dd>
            <span>{{vm.evento.fechaEvento | date:'medium'}}</span>
        </dd>
        <dt><span>Reto</span></dt>
        <dd>
            <a ui-sref="reto-detail({id:vm.evento.reto.id})">{{vm.evento.reto.nombre}}</a>
        </dd>
        <dt><span>Admin</span></dt>
        <dd>
            {{vm.evento.admin.login}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="evento-detail.edit({id:vm.evento.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
