<div>
    <h2><span data-translate="doitApp.evento.detail.title">Evento</span></h2>
    <small>ID: {{vm.evento.id}}</small>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dd>
            <div ng-if="vm.evento.imagen">
                <a ng-click="vm.openFile(vm.evento.imagenContentType, vm.evento.imagen)">
                    <img data-ng-src="{{'data:' + vm.evento.imagenContentType + ';base64,' + vm.evento.imagen}}" style="max-width: 100%;" alt="evento image"/>
                </a>
            </div>
        </dd>
        <dt><span data-translate="doitApp.evento.admin">Admin</span></dt>
        <dd>
            {{vm.evento.admin.login}}
        </dd>
        <dt><span data-translate="doitApp.evento.nombre">Nombre</span></dt>
        <dd>
            <span>{{vm.evento.nombre}}</span>
        </dd>
        <dt><span data-translate="doitApp.evento.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{vm.evento.descripcion}}</span>
        </dd>
        <dt><span data-translate="doitApp.evento.hora">Hora</span></dt>
        <dd>
            <span>{{vm.evento.hora | date:'medium'}}</span>
        </dd>

        <dt><span data-translate="doitApp.evento.direccion">Lugar del evento</span></dt>
        <dd>
            <span>{{vm.evento.direccion}}</span>
        </dd>
        <dd>
            <ngmap>
                <ng-map id="mapa" class="map-track"
                        zoom-to-include-markers="20"
                        disable-default-u-i="true">
                    <marker position="[{{vm.evento.latitud}},{{vm.evento.longitud}}]">
                    </marker>
                </ng-map>
            </ngmap>
        </dd>
        <dt><span data-translate="doitApp.evento.fechaEvento">Fecha Evento</span></dt>
        <dd>
            <span>{{vm.evento.fechaEvento | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="doitApp.evento.reto">Reto</span></dt>
        <dd>
            <a ui-sref="reto-detail({id:vm.evento.reto.id})">{{vm.evento.reto.nombre}}</a>
        </dd>
    </dl>

    <div class="form-group">
        <label data-translate="userManagement.profiles">Profiles</label>
        <select class="form-control" multiple name="authority" ng-model="vm.user.authorities"
                ng-options="authority for authority in vm.authorities">
        </select>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
        <span data-translate="entity.action.back"> Back</span>
    </button>

    <!--OCULTAR ESTE BOTON SI EL USUARIO LOGEADO NO ES EL ADMINISTRADOR DEL EVENTO-->
    <button type="button" ui-sref="evento-detail.edit({id:vm.evento.id})"
            class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
