<div>
    <br/>
    <div class="row text-center">
        <div class="input-group">
            <span class="input-group-addon"> <span class="glyphicon glyphicon-search"></span> </span>
            <input type="text" class="form-control" ng-model="criteria"
                   placeholder="{{'global.form.eventSearch.placeholder' | translate}}">
        </div>
    </div>
    <br/><br/>
    <div class="table-responsive">
        <strong ng-if="vm.pendingInvitations.length==0">
            <span data-translate="doitApp.evento.no-results">Mensaje de pena</span>
        </strong>
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th></th>
                <th><span data-translate="doitApp.evento.nombre">Nombre</span></th>
                <th><span data-translate="doitApp.evento.direccion">Ubicación</span></th>
                <th><span data-translate="doitApp.evento.fechaEvento">Fecha</span></th>
                <th><span data-translate="doitApp.evento.reto">Reto</span></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <!--Aqui se muestran los eventos que el usuario se ha apuntado -->
            <tr ng-repeat="evento in vm.eventosApuntado|filter:criteria" ng-if="vm.eventosApuntado.length>0">
                <td>
                    <a ng-if="evento.evento.imagen"
                       ng-click="vm.openFile(evento.evento.imagenContentType, evento.evento.imagen)">
                        <img
                            data-ng-src="{{'data:' + evento.evento.imagenContentType + ';base64,' + evento.evento.imagen}}"
                            style="max-height: 30px;" alt="evento image"/>
                    </a>
                </td>
                <td><span><a ui-sref="evento-detail({id:evento.evento.id})">{{evento.evento.nombre}}</a></span></td>
                <td><span>{{evento.evento.direccion}}</span></td>
                <td><span>{{evento.evento.fechaEvento | date:'medium'}}</span></td>
                <td>
                    <span>
                        <a ui-sref="reto-detail({id:evento.evento.reto.id})">{{evento.evento.reto.nombre}}</a>
                    </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="evento-detail({id:evento.evento.id})"
                                class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="hidden-sm-down"></span>
                            <span translate="doitApp.evento.invitar">Invitar amigos</span>
                        </button>
                        <button type="submit" class="btn btn-danger"
                                ng-if="vm.currentAccount.id==evento.evento.admin.id"
                                ui-sref="evento.edit({id:evento.id})">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </td>
            </tr>

            <!--Aqui se muestran todos los eventos -->
            <tr ng-repeat="evento in vm.eventosNoApuntado|filter:criteria" ng-if="vm.eventosNoApuntado.length>0">
                <td>
                    <a ng-if="evento.imagen" ng-click="vm.openFile(evento.imagenContentType, evento.imagen)">
                        <img data-ng-src="{{'data:' + evento.imagenContentType + ';base64,' + evento.imagen}}"
                             style="max-height: 30px;" alt="evento image"/>
                    </a>
                </td>
                <td><span><a ui-sref="evento-detail({id:evento.id})">{{evento.nombre}}</a></span></td>
                <td><span>{{evento.direccion}}</span></td>
                <td><span>{{evento.fechaEvento | date:'medium'}}</span></td>
                <td>
                    <span>
                        <a ui-sref="reto-detail({id:evento.evento.reto.id})">{{evento.reto.nombre}}</a>
                    </span>
                </td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button class="btn btn-primary"
                                ng-click="vm.apuntarse(evento.id)">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="hidden-sm-down"></span>
                            <span data-translate="doitApp.evento.participar"></span>
                        </button>
                        <button type="submit" class="btn btn-danger"
                                ng-if="vm.currentAccount.id==evento.admin.id"
                                ui-sref="evento.edit({id:evento.id})">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
