<div>
    <h2 translate="doitApp.evento.home.title">Events</h2>
    <small translate="doitApp.evento.home.subtitle">¡Aquí puedes ver una lista de eventos
        que han creado otros usuarios!</small>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th></th>
                <th><span data-translate="doitApp.evento.admin">Administrador</span></th>
                <th><span data-translate="doitApp.evento.nombre">Nombre</span></th>
                <th><span data-translate="doitApp.evento.descripcion">Descripción</span></th>
                <th><span data-translate="doitApp.evento.hora">Hora de creación</span></th>
                <th><span data-translate="doitApp.evento.direccion">Ubicación</span></th>
                <th><span data-translate="doitApp.evento.fechaEvento">Fecha</span></th>
                <th><span data-translate="doitApp.evento.reto">Reto</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>

        <!--Aqui se muestran los eventos que el usuario se ha apuntado -->
            <tr ng-repeat="evento in vm.eventoApuntado track by evento.id">
                <td>
                    <a ng-if="evento.evento.imagen" ng-click="vm.openFile(evento.evento.imagenContentType, evento.evento.imagen)">
                        <img data-ng-src="{{'data:' + evento.evento.imagenContentType + ';base64,' + evento.evento.imagen}}" style="max-height: 30px;" alt="evento image"/>
                    </a>
                </td>
                <td><span>{{evento.evento.admin.login}}</span></td>
                <td><span><a ui-sref="evento-detail({id:evento.evento.id})">{{evento.evento.nombre}}</a></span></td>
                <td><span>{{evento.evento.descripcion}}</span></td>
                <td><span>{{evento.evento.hora | date:'medium'}}</span></td>
                <td><span>{{evento.evento.direccion}}</span></td>
                <td><span>{{evento.evento.fechaEvento | date:'medium'}}</span></td>
                <td>
                    <a ui-sref="reto-detail({id:evento.reto.id})">{{evento.evento.reto.nombre}}</a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="evento-detail({id:evento.evento.id})"
                                class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="hidden-sm-down"></span>
                            <span translate="doitApp.evento.invitar">Invitar amigos</span>
                        </button>
                        <button type="submit" class="btn btn-danger"
                                ng-if="vm.currentAccount.id==evento.evento.admin.id"
                                ui-sref="evento.edit({id:evento.id})">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down"></span>
                            <span translate="doitApp.evento.editar"></span>
                        </button>
                    </div>
                </td>
            </tr>

        <!--Aqui se muestran todos los eventos -->
            <tr ng-repeat="evento in vm.eventos track by evento.id">
                <td>
                    <a ng-if="evento.imagen" ng-click="vm.openFile(evento.imagenContentType, evento.imagen)">
                        <img data-ng-src="{{'data:' + evento.imagenContentType + ';base64,' + evento.imagen}}" style="max-height: 30px;" alt="evento image"/>
                    </a>
                </td>
                <td><span>{{evento.admin.login}}</span></td>
                <td><span><a ui-sref="evento-detail({id:evento.id})">{{evento.nombre}}</a></span></td>
                <td><span>{{evento.descripcion}}</span></td>
                <td><span>{{evento.hora | date:'medium'}}</span></td>
                <td><span>{{evento.direccion}}</span></td>
                <td><span>{{evento.fechaEvento | date:'medium'}}</span></td>
                <td><span><a ui-sref="reto-detail({id:evento.reto.id})">{{evento.reto.nombre}}</a></span></td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button class="btn btn-primary"
                            ng-click="vm.apuntarse(evento.id)" >
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="hidden-sm-down"></span>
                            <span data-translate="doitApp.evento.participar"></span>
                        </button>
                        <button type="submit" class="btn btn-danger"
                            ng-if="vm.currentAccount.id==evento.admin.id"
                            ui-sref="evento.edit({id:evento.id})">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down"></span>
                            <span translate="doitApp.evento.editar "></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
