

<div>
    <h2>Eventos</h2>
    <small>¡Aquí puedes ver una lista de eventos
        que han creado otros usuarios!</small>
    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="text-center">
            <ng-map ng-model="map" id="mapa" class="map-track" zoom-to-include-markers="auto"
                    disable-default-u-i="true" style="{{mapStyle}} center="[41.3741174, 2.1616966]" zoom="2">

                <marker ng-repeat="posicion in vm.posicion"
                        position="[{{posicion.latitud}}, {{posicion.longitud}}]" title="{{posicion.nombre}}">
                    </marker>

            </ng-map>
            {{latitud}}
        </div>
    </div>
</div>
