<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserExtLabel" data-translate="doitApp.userExt.home.createOrEditLabel">Create or edit a User Ext</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userExt.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userExt.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="doitApp.userExt.fechaNacimiento" for="field_fechaNacimiento">Fecha Nacimiento</label>
                <div class="input-group">
                    <input id="field_fechaNacimiento" type="text" class="form-control" name="fechaNacimiento" datetime-picker="{{dateformat}}" ng-model="vm.userExt.fechaNacimiento" is-open="vm.datePickerOpenStatus.fechaNacimiento"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaNacimiento')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImagen($file, vm.userExt)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="doitApp.userExt.imagen" for="field_imagen">Imagen</label>
            <div>
                <img data-ng-src="{{'data:' + vm.userExt.imagenContentType + ';base64,' + vm.userExt.imagen}}" style="max-height: 100px;" ng-if="vm.userExt.imagen" alt="userExt image"/>
                <div ng-if="vm.userExt.imagen" class="help-block clearfix">
                    <span class="pull-left">{{vm.userExt.imagenContentType}}, {{vm.byteSize(vm.userExt.imagen)}}</span>
                    <button type="button" ng-click="vm.userExt.imagen=null;vm.userExt.imagenContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImagen($file, vm.userExt)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                   ng-model="vm.userExt.imagen"
            />
            <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                   ng-model="vm.userExt.imagenContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="doitApp.userExt.telefono" for="field_telefono">Telefono</label>
            <input type="text" class="form-control" name="telefono" id="field_telefono"
                    ng-model="vm.userExt.telefono"
                    required/>
            <div ng-show="editForm.telefono.$invalid">
                <p class="help-block"
                    ng-show="editForm.telefono.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="doitApp.userExt.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userExt.user" ng-options="user as user.login for user in vm.users track by user.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.user.$invalid">
            <p class="help-block"
                ng-show="editForm.user.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
