<div>
    <div class="row text-center">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="{{'global.form.search.placeholder' | translate}}"
                   aria-describedby="basic-addon1" ng-model="criteria">
        </div>

        <div class="text-center">
            <h3 translate="doitApp.userExt.search.subtitle">Resultados de búsqueda</h3>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th><span>Image</span></th>
                    <th><span translate="doitApp.userExt.login">Username</span></th>
                    <th><span translate="doitApp.userExt.realname">Real Name</span></th>
                    <th><span translate="doitApp.userExt.phone">Phone</span></th>
                    <th><span translate="doitApp.userExt.email">E-mail</span></th>
                    <th><span translate="doitApp.userExt.birthdate">Birthdate</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.userExts|filter:criteria">
                    <td>
                        <a ng-if="userExt.imagen" ng-click="vm.openFile(userExt.imagenContentType, userExt.imagen)">
                            <img data-ng-src="{{'data:' + userExt.imagenContentType + ';base64,' + userExt.imagen}}"
                                 style="max-height: 30px;" alt="userExt image"/>
                        </a>
                    </td>
                    <td><span>{{user.user.image}} </span></td>
                    <td><span>{{user.user.login}}</span></td>
                    <td><span>{{user.user.firstName}} {{user.user.lastName}}</span></td>
                    <td><span>{{user.telefono}}</span></td>
                    <td><span>{{user.user.email}}</span></td>
                    <td><span>{{user.fechaNacimiento}}</span></td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    ng-click="vm.sendFriendRequest(user.user.id)"
                                    class="btn btn-primary">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <span translate="doitApp.userExt.send">Send friend request</span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-ext-detail({id:user.id})"
                                    class="btn btn-info">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                <span> Info</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--ng-click="vm.sendFriendRequest(user.user.id)"-->


