<div>
    <dl class="row jh-entity-details">
        <dd class="col-lg-6">
            <div ng-if="vm.userExt.imagen">
                <a ng-click="vm.openFile(vm.userExt.imagenContentType, vm.userExt.imagen)">
                    <img data-ng-src="{{'data:' + vm.userExt.imagenContentType + ';base64,' + vm.userExt.imagen}}"
                         style="max-width: 100%;" alt="userExt image"/>
                </a>
            </div>
        </dd>
        <dd class="col-lg-6">
        <dd>
            <h1>
                <span>
                    {{vm.userExt.user.firstName}} {{vm.userExt.user.lastName}}
                </span>
                <p></p>
                <span>
                    <small>{{vm.userExt.user.login}}</small>
                </span>
            </h1>
        </dd>
        <dt><span data-translate="doitApp.userExt.birthdate">Fecha de nacimiento</span></dt>
        <dd>
            <span>{{vm.userExt.nacimiento | date:'dd/MM/yyyy'}}</span>
        </dd>
        <dt><span data-translate="doitApp.userExt.phone">Telefono</span></dt>
        <dd>
            <span>{{vm.userExt.telefono}}</span>
        </dd>
        </dd>
    </dl>
</div>
