
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInvitacionEventoLabel">Create or edit a Invitacion Evento</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.invitacionEvento.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.invitacionEvento.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_horaResolucion">Hora Resolucion</label>
                <div class="input-group">
                    <input id="field_horaResolucion" type="text" class="form-control" name="horaResolucion" datetime-picker="{{dateformat}}" ng-model="vm.invitacionEvento.horaResolucion" is-open="vm.datePickerOpenStatus.horaResolucion"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('horaResolucion')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_horaInvitacion">Hora Invitacion</label>
                <div class="input-group">
                    <input id="field_horaInvitacion" type="text" class="form-control" name="horaInvitacion" datetime-picker="{{dateformat}}" ng-model="vm.invitacionEvento.horaInvitacion" is-open="vm.datePickerOpenStatus.horaInvitacion"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('horaInvitacion')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_resolucion">Resolucion</label>
            <input type="checkbox" class="form-control" name="resolucion" id="field_resolucion"
                    ng-model="vm.invitacionEvento.resolucion"
                    />
        </div>

        <div class="form-group">
            <label for="field_evento">Evento</label>
            <select class="form-control" id="field_evento" name="evento" ng-model="vm.invitacionEvento.evento" ng-options="evento as evento.nombre for evento in vm.eventos track by evento.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_miembroEvento">Miembro Evento</label>
            <select class="form-control" id="field_miembroEvento" name="miembroEvento" ng-model="vm.invitacionEvento.miembroEvento" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
