
<!--
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">DoIt Chat Connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Conectar</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Desconectar</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">Nombre de usuario:</label>
                    <input type="text" id="name" class="form-control" placeholder="Escribe tu nombre...">
                </div>
                <div class="form-group">
                    <label for="message">Mensaje:</label>
                    <input type="text" id="message" class="form-control" placeholder="Escribe algo por aqui mismo :">
                </div>

                <button id="send" class="btn btn-default" type="submit">Enviar</button>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>DoIt Chat</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
    </form>
</div>
</body>
</html>

-->

<div class="row">
    <div class="table-responsive">

        <button class="btn btn-primary btn-block" ng-click="vm.connect()" ng-if="!vm.conectado">
            Conectar al chat
        </button>
        <button class="btn btn-danger btn-block" ng-click="vm.disconnect()" ng-if="vm.conectado">
            Desconectar del chat
        </button>

        <br/>

        <div class="col-md-6" ng-if="vm.conectado">
            <form class="form-inline">

                <div class="form-group">
                    <label for="message">Mensaje:</label>
                    <textarea type="text" class="form-control" id="message" ng-model="vm.mensaje" placeholder="Escribe tu mensaje">
                    </textarea>
                </div>

                <button class="btn btn-default" ng-click="vm.sendMessage()">Enviar</button>
            </form>
        </div>

        <div id="greetings" ng-if="vm.conectado">asjdlaskjdñkasdj</div>

    </div>
</div>
