<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>
                <i class="fa fa-plus" aria-hidden="true"></i>
                Registro
            </h1>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>¡Registro creado!</strong> Por favor, comprueba tu e-mail para confirmación.
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <strong>¡Registro fallido!</strong> Intentálo de nuevo más tarde.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorUserExists">
                <strong>¡El nombre de usuario ya está en uso!</strong> Por favor, elige otro.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists">
                <strong>¡Este e-mail ya está en uso!</strong> Por favor, elige otro.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                La contraseña y la contraseña de confirmación no coinciden.
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.register()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="login">Nombre de usuario</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Tu nombre de usuario"
                           ng-model="vm.registerAccount.login" ng-minlength=1 ng-maxlength=50
                           ng-pattern="/^[_'.@A-Za-z0-9-]*$/" required>
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                           ng-show="form.login.$error.required">
                            El nombre de usuario es obligatorio.
                        </p>
                        <p class="help-block"
                           ng-show="form.login.$error.minlength">
                            Tu nombre de usuario debe contener al menos 1 carácter.
                        </p>
                        <p class="help-block"
                           ng-show="form.login.$error.maxlength">
                            Tu nombre de usuario no puede ser superior a 50 caracteres
                        </p>
                        <p class="help-block"
                           ng-show="form.login.$error.pattern">
                            Tu nombre de usuario solo puede contener caracteres en minúscula y dígitos.
                        </p>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Tu e-mail"
                           ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                           ng-show="form.email.$error.required">
                            El e-mail es obligatorio.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.email">
                            Tu e-mail no es válido.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.minlength">
                            Tu e-mail debe contener al menos 5 caracteres.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.maxlength">
                            Tu e-mail no puede ser superior a 100 caracteres.
                        </p>
                    </div>
                </div>
                <!--NUEVOS CAMPOS-->
                <!--TELEFONO USUARIO-->
                <div class="form-group">
                    <label class="control-label" for="phone">Teléfono</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Tu teléfono"
                           ng-model="vm.registerAccount.phone" ng-minlength=9 ng-maxlength=9
                           ng-pattern="/^[0-9]/" required>
                </div>
                <!--TELEFONO USUARIO-->

                <!--FECHA NACIMIENTO USUARIO-->
                <div class="form-group">
                    <label class="control-label" for="fechaNacimiento">Fecha de nacimiento</label>
                    <div class="input-group">
                        <input id="fechaNacimiento" type="text" class="form-control" name="fechaNacimiento" datetime-picker="{{dateformat}}" ng-model="vm.registerAccount.fechaNacimiento" is-open="vm.datePickerOpenStatus.fechaNacimiento"/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaNacimiento')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
                <!--FECHA NACIMIENTO USUARIO-->
                <!--NUEVOS CAMPOS-->
                <div class="form-group">
                    <label class="control-label" for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Tu contraseña"
                           ng-model="vm.registerAccount.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            La contraseña es obligatoria.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Tu contraseña debe contener al menos 4 caracteres
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Tu contraseña no puede ser superior a 50 caracteres
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirmación de contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Confirmación de contraseña"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            La contraseña de confirmación es obligatoria.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Tu contraseña de confirmación debe contener al menos 4 caracteres
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Tu contraseña de confirmación no puede ser superior a 50 caracteres.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Registrar</button>
            </form>
            <p></p>
        </div>
    </div>
</div>
