<nav class="navbar navbar-default">
    <div class="container-fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header">
            <a class="navbar-brand" href="muro.html">Do It!</a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="nav navbar-nav">
                <li><a><span class="glyphicon glyphicon-home"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-cog"></span> Opciones</a>
                </li>
                <li>
                    <a href="contactos.html">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Mis contactos
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <span class="glyphicon glyphicon-log-out"></span> Salir
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
