<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logos_proyecto/logo_proyecto_con64.png" alt="logo"/>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-left">
                <!--HOME-->
                <li ui-sref-active="activeState">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <!--<span class="hidden-sm" data-translate="global.menu.home">Home</span>-->
                    </a>
                </li>
                <!--HOME-->

                <!--SEARCH-->
                <li uib-dropdown class="dropdown pointer" ui-sref-active="activeState">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="search-menu"
                       ng-switch-when="true">
                        <span>
                            <span class="glyphicon glyphicon-search"></span>
                            <span class="hidden-sm" translate="global.navbar-functions.search.title">
                                Search
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-search" ng-click="vm.collapseNavbar()">
                                <i class="fa fa-users"></i>&nbsp;
                                <span translate="global.navbar-functions.search.users">Buscar personas</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="evento-search" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                                <span translate="global.navbar-functions.search.events">Buscar eventos</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--SEARCH-->

                <!--FUNCTIONALITIES -->
                <li ng-class="{activeState: vm.$state.includes('new')}"
                    uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle"
                       uib-dropdown-toggle href=""
                       id="functionalities-menu"
                       ng-switch-when="true">
                        <span>
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="hidden-sm" data-translate="global.navbar-functions.functionalities">
                                Functionalities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="reto.new" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span data-translate="global.navbar-functions.create-challenge">Create challenge</span>
                            </a>
                        </li>

                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="evento.new" ng-click="vm.collapseNavbar()">
                                <i class="fa fa-calendar-plus-o"></i>
                                <span data-translate="global.navbar-functions.create-event">Create event</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--FUNCTIONALITIES -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--Register-->
                <li ui-sref-active="activeState" ng-switch-when="false">
                    <a ui-sref="register" ng-click="vm.collapseNavbar()">
                        <i class="fa fa-user-plus"></i>&nbsp;
                        <span class="hidden-sm" data-translate="global.menu.account.register">Register</span>
                    </a>
                </li>
                <!--Register-->

                <li ui-sref-active="activeState" ng-switch-when="true">
                    <a ui-sref="amistades" ng-click="vm.collapseNavbar()">
                        <i class="fa fa-user-plus"></i>
                        <!--<span data-translate="global.navbar-functions.friend-requests">Friend requests</span>-->
                    </a>
                </li>

                <li ui-sref-active="activeState" ng-switch-when="true">
                    <a ui-sref="eventos" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span data-translate="global.navbar-functions.list-events">Events</span>
                    </a>
                </li>

                <li ui-sref-active="activeState" ng-switch-when="true">
                    <a ui-sref="eventos-mundo" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-globe"></span>
                        <span data-translate="global.navbar-functions.world-events">World events</span>
                    </a>
                </li>

                <li ui-sref-active="activeState" ng-switch-when="true">
                    <a ui-sref="lista-retos" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-star"></span>
                        <span data-translate="global.navbar-functions.challenges">Challenges</span>
                    </a>
                </li>



                <!--Account management-->
                <li ng-class="{activeState: vm.$state.includes('account')}"
                    uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle"
                       uib-dropdown-toggle href=""
                       id="account-menu"
                       ng-switch-when="true">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Account management-->

                <!--Language-->
                <li ui-sref-active="activeState" uib-dropdown class="dropdown pointer"
                    ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">
                                <span ng-if="language == 'es'" class="flag-icon flag-icon-es"></span>
                                <span ng-if="language == 'en'" class="flag-icon flag-icon-gb"></span>
                                {{language | findLanguageFromKey}}
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Language-->

                <!--About the application page-->
                <li ui-sref-active="activeState">
                    <a ui-sref="about"
                       ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-star"></span>
                        <!--<span class="hidden-sm" data-translate="global.navbar-functions.about">Home</span>-->
                    </a>
                </li>
                <!--About the application page-->
            </ul>
        </div>
    </div>
</nav>
