<div ng-cloak>
    <div class="row">
        <div class="row text-center">
            <div ng-switch="vm.isAuthenticated()">
                <div ng-switch-when="false">
                    <h1 data-translate="home.title">Title</h1>
                    <h3 data-translate="home.subtitle">Subtitle</h3>
                </div>

                <!--LOGEADO-->
                <div class="row">
                    <!--USER-->
                    <div class="col-md-2" ng-switch-when="true">
                        <div class="row" ng-if="vm.currentUserExt.imagen">
                            <img
                                data-ng-src="{{'data:' + vm.currentUserExt.imagenContentType + ';base64,' + vm.currentUserExt.imagen}}"
                                style="max-height: 125px;" alt="user login image" class="img-rounded"/>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="list-group">
                                <div class="list-group-item">{{vm.currentAccount.login}}</div>
                                <div class="list-group-item">{{vm.currentAccount.firstName}}
                                    {{vm.currentAccount.lastName}}
                                </div>
                                <div class="list-group-item">
                                    <a ui-sref="evento.new">
                                        <span data-translate="global.navbar-functions.create-event">Create event</span>
                                    </a>
                                </div>
                                <div class="list-group-item"
                                     ng-if="vm.currentAccount.authorities[0] == 'ROLE_ADMIN' || vm.currentAccount.authorities[1] == 'ROLE_ADMIN'">
                                    <a ui-sref="reto.new">
                                    <span
                                        data-translate="global.navbar-functions.create-challenge">Create challenge</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--USER-->

                    <!--EVENTOS-->
                    <div ng-switch-when="true" class="col-md-8">
                        <h3>Eventos</h3>
                        <strong ng-if="vm.eventos.length == 0" data-translate="global.no-results"></strong>
                        <p></p>
                        <div class="row" ng-if="vm.eventos.length>0">
                            <a ui-sref="eventos-mundo">
                                <span class="glyphicon glyphicon-globe"></span>
                                <span data-translate="global.navbar-functions.world-events">World events</span>
                            </a>
                            <div ng-repeat="evento in vm.eventos track by evento.id">
                                <div ng-if="evento.imagen">
                                    <img
                                        data-ng-src="{{'data:' + evento.imagenContentType + ';base64,' + evento.imagen}}"
                                        style="max-width: 300px;" alt="evento image"/>
                                </div>
                                <a ui-sref="evento-detail({id: evento.id})">
                                    {{evento.nombre}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--EVENTOS-->

                    <!--RETOS-->
                    <div ng-switch-when="true" class="col-md-2">
                        <h3>Retos</h3>
                        <strong ng-if="vm.retos.length == 0" data-translate="global.no-results"></strong>
                        <div class="list-group" ng-if="vm.retos.length >0">
                            <div class="list-group-item" ng-repeat="reto in vm.retos track by reto.id">
                                <a ui-sref="reto-detail({id: reto.id})">{{reto.nombre}}</a>
                            </div>
                        </div>
                    </div>
                    <!--RETOS-->

                </div>
                <!--LOGEADO-->

                <!--LOGIN-->
                <div class="col-md-8 col-md-offset-2" ng-switch-when="false">
                    <div class="row">
                        <div class="alert alert-danger" translate="login.messages.error.authentication"
                             ng-show="vm.authenticationError">
                            <strong>
                                <span class="glyphicon glyphicon-alert"></span>
                                ¡Error!
                            </strong>
                            Por favor, comprueba tus credenciales e intentálo de nuevo.
                        </div>
                    </div>
                    <div class="row">
                        <form class="form" role="form" ng-submit="vm.login($event)">
                            <div class="form-group">
                                <label for="username" data-translate="global.form.username">Login</label>
                                <input type="text" class="form-control"
                                       id="username"
                                       placeholder="{{'global.form.username.placeholder' | translate}}"
                                       ng-model="vm.username">
                            </div>
                            <div class="form-group">
                                <label for="password" data-translate="global.form.password">Contraseña</label>
                                <input type="password" class="form-control"
                                       id="password"
                                       placeholder="{{'global.form.password.placeholder' | translate}}"
                                       ng-model="vm.password">
                            </div>
                            <button type="submit"
                                    class="btn btn-primary btn-block btn-lg"
                                    data-translate="global.menu.account.login">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Inicia sesión
                            </button>
                            <div class="row"></div>
                            <br>
                            <div class="alert alert-danger">
                                <a class="alert-link"
                                   ng-click="vm.requestResetPassword()"
                                   data-translate="login.password.forgot">
                                    ¿Has olvidado tu contraseña?
                                </a>
                            </div>
                            <div class="alert alert-info" data-translate="global.messages.info.register"
                                 translate-compile>
                                ¿Todavía no posees una cuenta?<a class="alert-link" ng-click="vm.register()">
                                ¡Crea tu cuenta!</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!--LOGIN-->
            </div>
        </div>
    </div>
    <div class="footer text-center" ng-cloak>
        <!--<p data-translate="home.footer">Footer</p>-->
        Coded with <span style="color: #00cc99">❤</span>
    </div>
</div>
