<div>
    <h2>Amistads</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="amistad.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Amistad
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Time Stamp</span></th>
                    <th><span>Aceptada</span></th>
                    <th><span>Hora Respuesta</span></th>
                    <th><span>Emisor</span></th>
                    <th><span>Receptor</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="amistad in vm.amistads track by amistad.id">
                    <td><a ui-sref="amistad-detail({id:amistad.id})">{{amistad.id}}</a></td>
                    <td>{{amistad.timeStamp | date:'medium'}}</td>
                    <td>{{amistad.aceptada}}</td>
                    <td>{{amistad.horaRespuesta | date:'medium'}}</td>
                    <td>
                        {{amistad.emisor.login}}
                    </td>
                    <td>
                        {{amistad.receptor.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="amistad-detail({id:amistad.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="amistad.edit({id:amistad.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="amistad.delete({id:amistad.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button ng-click="aceptarAmistad()"
                                    ui-sref=""
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button ng-click="rechazarAmistad()"
                                    ui-sref=""
                                    class="btn btn-warning btn-sm">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
