<div class="row">
    <h2 translate="doitApp.amistad.home.title">Solicitudes de amistad</h2>
    <br>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <tbody>
                <tr ng-repeat="amistad in vm.amistadsCurrentUser track by amistad.id">
                    <td>{{amistad.emisor.login}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button class="btn btn-primary"
                                    ng-click="vm.acceptFriend(amistad.id)">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button class="btn btn-danger"
                                    ng-click="vm.denyFriend(amistad.id)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
